*{
    margin:0;
    padding:0;
}

body{
    /* height: 100%;
    margin: 0; */
    display:flex;
    flex-direction: column;
}


h1{
    

}
h2{
    
}
h3{
    
}
/* headings, including Name and links to About, Portfolio, & Contact */

.xheader{
    vertical-align: middle;
    background-color:#fafafa;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    height: 25vh;
    /* position: fixed;
    top: 0;
    width: 100%;
    height: 10%; */
    

}
.name{
    vertical-align: middle;
    width:10%;
    background-color:#3ff3f3;
    color:#ffffff;
    padding:15px;
    border:1px solid #000;
    max-width: 480px;
    
}
.links{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width:35%;
    /* max-width: 80px; */
    border:1px solid #000;
}

.container{
    height:100vh;
}


/* Body */

.xbody{
    background-color: #aaa;
    background-size: cover;
    /* display:flex; */
    /* flex-direction: row; */
    align-content: space-around;
    padding: 20px;
    /* height: 440px; */
    margin: 0;
    /* flex-flow: column;*/
    height: 50vh;
    /* flex-grow: 1; */
   

}

.textbox{
    
    position: relative;
    top: 0px;
    background-color: #fff;
    width: 960px;
    margin:auto;
    border:1px solid #000;
    padding: 20px;
    

    /*
    position: realative;
    top: 25%;
    left: 25%;
    width: 960px;
    background-color: #fff;

    border:1px solid #000;
    */
}

.insidewrapper{
    display:flex;
    flex-direction: row;
    /* flex-wrap: wrap; */

}
.pic{
    margin:0px;
    border:1px solid #0FF;
    width: 200px;
    height: 100%;
}
/* 
.biotext{
    border: 1px solid #111;
    width: 50%;
    margin: 20px;
    

} */

/* Footer */
.xfooter{
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 10px solid #4aaaa5;
    height: 25vh;
    /* height: 10%; */
    /* margin-bottom: 0; */
/* } 
footer{
    margin-bottom: 0;
} */
