*{
    margin:0;
    padding:0;
}
h1{
    

}
h2{
    
}
h3{
    
}
/* headings, including Name and links to About, Portfolio, & Contact */

.header{
    vertical-align: middle;
    background-color:#fafafa;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    

}
.name{
    vertical-align: middle;
    width:10%;
    background-color:#3ff3f3;
    color:#ffffff;
    padding:15px;
    border:1px solid #000;
    max-width: 480px;
    
}
.links{
    vertical-align: middle;
    width:100%;
    max-width: 80px;
    border:1px solid #000;
}

/* Body */

.body{
    background-color: #aaa;
    display:flex;
    align-content: space-around;
    padding: 20px;

}

.textbox{
    
    position: relative;
    top: 0px;
    background-color: #fff;
    width: 960px;
    margin:auto;
    border:1px solid #000;

    /*
    position: realative;
    top: 25%;
    left: 25%;
    width: 960px;
    background-color: #fff;

    border:1px solid #000;
    */
}

.insidewrapper{
    display:flex;

}
.pic{
    margin:0px;
    border:1px solid #0FF;
    width: 200px;
    height: 100%;
}

.biotext{
    border: 1px solid #111;
    width: 50%;
    margin: 20px;

}

/* Footer */
#footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    border: 1px solid #0f0
}
